#outerDiv{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 200px);
}

#div05{
    grid-row: 2;
    grid-column: 3/6;
    background-color: aqua;
}

#div01{
    grid-column: 1/a;
}