* {
    margin: 0;
}

div {
    float: left;
    box-sizing: border-box;
}

#ueberschriftDiv{
    width: 1000px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

#topnavDiv{
    width: 1000px;
    height: 20px;
}

#leftDiv{
    width: 200px;
    min-width: 200px;
    float: left;
}

#contentDiv{
    float: left;
}

#rightDiv{
    width: 200px;
    min-width: 200px;
    float: left;
}

#footerDiv{
    width: 1000px;
    height: 20px;
}

ul{
    list-style-type: none;
}

#topnavDiv>ul>li{
    display: inline;
}

#contentDiv{
    width: 600px;
}