:root{
    --borderColor: black;
    --backgroudColor: blue;
    --blockBackgroundColor: purple;
    --borderRadius: 10px;
}

body{
    display: grid;
    background-color: var(--backgroudColor);
    row-gap: 10px;
    column-gap: 10px;
}

.block{
    border: 2px solid var(--borderColor);
    border-radius: var(--borderRadius);
    margin: 3px;
    width: 100%;
    background-color: var(--blockBackgroundColor);
}

.header{
    text-align: center;
}

.pictureRightTextLeft{
    display: flex;
    width: 100%;
}
.pictureRightTextLeft>p{
    align-self: flex-start;
    text-align: left;
    width: 66%;
}
.pictureRightTextLeft>img {
    align-self:flex-end;
    width: 33%;
    border-radius: var(--borderRadius);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
}

.pictureLeftTextRight{
    display: flex;
    width: 100%;
}
.pictureLeftTextRight>p{
    text-align: right;
    width:66%;
}
.pictureLeftTextRight>img{
    align-self: flex-start;
    width: 33%;
    border-radius: var(--borderRadius);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
}

.textBlock{

}

.pictureBlock>img{
    width: 100%;
    height: 100%;
    border-radius: var(--borderRadius);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
}

.pictureTopBottomText>img{
    width: 100%;
    border-radius: var(--borderRadius);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
}

@media (orientation: landscape) {
    body{
        grid-template-columns: repeat(6, 1fr);
    }

    #block1 {
        grid-column: span 6;
    }

    #block2 {
        grid-column: span 6;
    }

    #block3 {
        grid-column: span 6;
    }

    #block4 {
        grid-column: span 3;
    }

    #block5 {
        grid-column: span 3;
    }

    #block6 {
        grid-column: span 2;
        max-height: 25em;
    }

    #block7 {
        grid-column: span 2;
        max-height: 25em;
    }

    #block8 {
        grid-column: span 2;
        max-height: 25em;
    }
}

@media (orientation: portrait) {
    body {
        grid-template-columns: repeat(1, 1fr);
    }
}