#block1,#block2,#block3 {
    
}

div>div {
    box-sizing: border-box;
    display: flex;
    float: left;
    
    background-color: chocolate;
    padding: 2px;
    margin: 5px;
    border: 2px solid blue;
}

#block1>div:nth-child(2n){
    background-color: rebeccapurple;
}

div>div:nth-child(4n+1) {
    clear: left;
}

#id18 {
    background-color: chartreuse !important;
    
}

#id23 {
    clear: left !important;
}

#id31 {
    overflow: hidden;
}